<!DOCTYPE html>
<html>

<head>
    <title>Shrek Info Service</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="information.css">
</head>

<body>
    <p align="center"><a href="/">To film list</a></p>
    <h1 align="center">{{films.film_name}}</h1>
    <table align="center">
        <tr>
            <td>{{films.film_name}}</td>
        </tr>
        <tr>
            <td>
                <img src="{{films.film_poster}}" alt="{{films.film_name}} poster" width="200" height="400">
            </td>
        </tr>
        <tr>
            <td>{{films.film_release_date}}</td>
        </tr>
        <tr>
            <td>{{films.film_duration}}</td>
        </tr>
        <tr>
            <td>{{films.film_producer}}</td>
        </tr>
        <tr>
            <td>{{films.film_description}}</td>
        </tr>
        <tr>
            <td><a href="{{films.film_trailer}}">Click to watch the trailer</a></td>
        </tr>
        <td>
            {{#if admin}}
            <a href="/edit/{{films.film_name}}">Edit</a>|
            <form action="../delete/{{films.film_name}}" method="POST">
                <input type="submit" value="Delete" />
            </form>
            {{/if}}
        </td>
        </tr>
        <td>------------------------------------------------------<br><br><br></td>
    </table>


    <h1 align="center">Actors</h1>
    {{#if admin}}
    <p align="center"><a href="/create_actor/{{films.film_name}}">Add actor</a></p>
    {{/if}}
    <table align="center">
        {{#each actors}}
        <tr>
            <td>{{this.actor_name}}</td>
        </tr>
        <tr>
            <td>{{this.actor_person}}</td>
        </tr>
        <tr>
            <td>
                <img src="{{this.actor_preview}}" alt="{{this.actor_name}} preview" width="100" height="100">
            </td>
        </tr>
        <td>
            {{#if this.admin}}
            <a href="../edit_actor/{{this.film_name}}/{{this.actor_name}}/{{this.actor_person}}">Edit</a>|
            <form action="/delete_actor/{{this.film_name}}/{{this.actor_name}}/{{this.actor_person}}" method="POST">
                <input type="submit" value="Delete" />
            </form>
            {{/if}}
        </td>
        </tr>
        <td>------------------------------------------------------<br><br><br></td>
        {{/each}}
    </table>
    <h1 align="center">localizers</h1>
    {{#if admin}}
    <p align="center"><a href="/create_localizer/{{films.film_name}}">Add localizer</a></p>
    {{/if}}
    <table align="center">
        {{#each localizers}}
        <tr>
            <td>{{this.localizer_name}}</td>
        </tr>
        <tr>
            <td>{{this.localizer_person}}</td>
        </tr>
        <tr>
            <td>
                <img src="{{this.localizer_preview}}" alt="{{this.localizer_name}} preview" width="100" height="100">
            </td>
        </tr>
        <td>
            {{#if this.admin}}
            <a href="../edit_localizer/{{this.film_name}}/{{this.localizer_name}}/{{this.localizer_person}}">Edit</a>|
            <form action="/delete_localizer/{{this.film_name}}/{{this.localizer_name}}/{{this.localizer_person}}"
                method="POST">
                <input type="submit" value="Delete" />
            </form>
            {{/if}}
        </td>
        </tr>
        <td>------------------------------------------------------<br><br><br></td>
        {{/each}}
    </table>
</body>

</html>